<%= content_for :header do %>
  <h1>论文选题系统</h1>
<% end %>
<%= content_for :nav do %>
  <% if current_student %>
    <%=   link_to "返回", student_page_path %>
   <% else %>
     <%=  link_to "返回", teacher_page_path%>
   <%end%>
<% end %>
<h3>问题：</h3>

<table id="data_table" class="display">
  <thead>
  <tr>
    <th>问题</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @questions.each do |question| %>
  <tr>
    <td><%= link_to question.content, question %></td>
    <td><%= link_to '修改', edit_question_path(question) %></td>
    <td><%= link_to '删除', question, confirm: '你确定？', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to '新问题', new_question_path %>
