= form_for(@student) do |f|
  %fieldset
    %legend 学生资料
    .field
      = f.label "姓名" 
      %br
      = f.text_field :name
    .field
      = f.label "专业"
      %br
      = f.text_field :majored
    .filed
      = f.label "年级"
      %br
      = f.text_field :grade
    .field
      = f.label "电子邮箱"
      %br
      = f.email_field :email
    .field
      = f.label "性别"
      = f.select :sex,["男","女"]
    .actions
      = f.submit

