<%= content_for :header do %>
  <h1>论文选题系统</h1>
<% end %>
<%= content_for :nav do %>
  <%= link_to "返回", admin_page_path %>
<% end %>
<p id="notice"><%= notice %></p>

<p>
  <b>学号:</b>
  <%= @student.stuId %>
</p>
<p>
  <b>姓名:</b>
  <%= @student.name %>
</p>

<p>
  <b>专业:</b>
  <%= @student.majored %>
</p>

<p>
  <b>年级:</b>
  <%= @student.grade %>
</p>

<p>
  <b>邮箱:</b>
  <%= @student.email %>
</p>

<p>
  <b>性别:</b>
  <%= @student.sex %>
</p>


