<%= form_for(@thesis) do |f| %>
  <% if @thesis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thesis.errors.count, "error") %> prohibited this thesis from being saved:</h2>

      <ul>
      <% @thesis.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <header>
    <h3>题目：<%= @thesis.title %></h3>
  </header>

  <h4>简介</h4>
  <div>
    <%= sanitize @thesis.summary, :attributes => %w(id class style) %>
  </div>
  
  <h4>正文</h4>
  <div class="field">
    <%= f.kindeditor :content, :width=> 660, :height => 600,:resizeType => 0%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
