<%= form_for(@thesis) do |f| %>
  <% if @thesis.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@thesis.errors.count, "error") %> prohibited this thesis from being saved:</h2>

      <ul>
      <% @thesis.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>新建论文</legend>
  <div class="field">
    <%= f.label "题目" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "适用专业" %><br />
    <%= f.select :major_id, Major.all.collect {|m| [m.name, m.id]} %>
  </div>
  <div class="field">
    <%= f.label "简介" %><br />
    <%= f.kindeditor :summary, :width=>700, :heigh => 300,:resizeType => 0%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</fieldset>
<% end %>
