<%= content_for :header do %>
  <h1>论文选题系统</h1>
  <h3>管理员页面</h3>
<% end %>
<%= content_for :nav do %>
  <%= link_to "返回", admin_page_path %>
<% end %>
<h2>论文数据</h2>

<table id="data_table" class="display">
  <thead>
  <tr>
    <th>题目</th>
    <th>简介</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @theses.each do |thesis| %>
  <tr>
    <td><%= thesis.title %></td>
    <td><%= sanitize thesis.summary, :attributes => %w(id class style) %></td>
    <td><%= link_to 'Destroy', thesis, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
  <% end %>
  </tbody>
</table>


