<%= content_for :header do %>
  <h1>论文选题系统</h1>
<% end %>
<%= content_for :nav do %>
  <%= show_return_link %>
  <%= link_to "答疑", questions_path %>
<% end %>
<article>
  <header>
    <h3>题目: <%= @thesis.title %></h3>
  </header>
  <h4>简介</h4>
  <div >
    <%= sanitize @thesis.summary, :attributes => %w(id class style) %>
  </div>

  <h4>正文:</h4>
  <%= sanitize @thesis.content,:attributes => %(id class style src) %>
  </p>
  </article>
<%= link_to '编辑', edit_thesis_path(@thesis) %> 
<%= link_to '下载', url_for(:action => 'download', :id => @thesis.id ) %> 
