<p id="notice"><%= notice %></p>

<p>
  <b>Item:</b>
  <%= @thesis.item %>
</p>

<p>
  <b>Title:</b>
  <%= @thesis.title %>
</p>

<p>
<b>Summary:</b><br />
<%= sanitize @thesis.summary, :attributes => %w(id class style) %>
</p>

<p>
  <b>Content:</b>
  <%= sanitize @thesis.content, :attributes => %w(id class style) %>
</p>
<%= link_to 'Edit', edit_thesis_path(@thesis) %> 
<%= link_to 'Back', theses_path %>
<%= link_to 'download', url_for(:action => 'download', :id => @thesis.id ) %> 
