<%= content_for :header do %>
  <h1>论文选题系统</h1>
  <h3>学生编号: <%= @student.stuId %></h4>
<% end %>
<%= content_for :nav do %>
  <%= link_to "学生资料", edit_student_path(@student) %>
  <%= student_action_link(@student, @thesis) %>
  <%= link_to "登出", destroy_student_session_path, :method => :delete %> 
<% end %>
<% if !@thesis.nil? %>
  <article>
    <header>
      <h3>题目: <%= @thesis.title %></h3>
    </header>

    <h4>简介</h4>
    <div >
      <%= sanitize @thesis.summary, :attributes => %w(id class style) %>
    </div>

    <h4>正文:</h4>
    <%= sanitize @thesis.content,:attributes => %(id class style src) %>
    </p>
    </article>
  <%= link_to '编辑', edit_thesis_path(@thesis) %> 
<% end %>
