<%= content_for :header do %>
  <h1>论文选题系统</h1>
  <h3>老师编号: <%= @teacher.tchId %></h4>
<% end %>
<%= content_for :nav do %>
  <%= link_to "教师资料", edit_teacher_path(@teacher) %>
  <%= link_to "添加论文题目", new_thesis_path %>
  <%= link_to "登出", destroy_teacher_session_path, :method => :delete %> 
<% end %>

<h2>已有论文列表</h2>
<table id="data_table" class="display" > 
  <thead>
    <tr>
      <th>题目</th>
      <th>专业</th>
      <th>删除</th>
      <th>论文</th>
      <th>记录</th>
    </tr>
  </thead>
  <tbody>
  <% @theses.each do |thesis| %>
    <tr>
      <td><%= link_to thesis.title, thesis %></td>
      <td><%= thesis.major.name %></td>
      <td><%= link_to "删除", thesis, :method => :delete %></td>
      <td><%= link_to "导出", download_thesis_path(thesis) %></td>
      <td><%= link_to "导出", record_thesis_path(thesis) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

