= form_for(@teacher) do |f|
  .field
    = f.label :name
    %br
    = f.text_field :name
  .field
    = f.label :department
    = f.text_field :department
  .field
    = f.label :email
    = f.email_field :email
  .field
    = f.label :sex
    = f.select :sex,["男"，"女"]
  .field
    = f.submit
